<header>
  <div class="container">
    <a routerLink="/" class="logo">WeatherNow</a>
    <nav>
      <ul>
        <li>
          <a routerLink="/login">Login</a>
        </li>
        <li class="menu-container">
          <a routerLink="/dashboard">Jonas</a>
          <div class="menu">
            <a routerLink="/profile">Profile</a>
            <a>Logout</a>
          </div>
        </li>
        <li>
          <a routerLink="/changeMode">DarkMode</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
