@import url("https://fonts.googleapis.com/css2?family=Quciksand&display=swap");

body{
  background-color: #142630;
  margin: 0;
}

*{
  box-sizing: border-box;
}

html{
  font-size: 16px;
}

html,
button{
  font-family: "Quicksand", "sans-serif";
}

a{
  text-decoration: none;
}
